{% extends "coursefinity/base.html" %}

{% load static %}

{% block body_block %}

<div class="container">
    <div class="jumbotron" style="margin-top:70px;">
    	<p>Coursefinity is a project to reduce the barrier in education. It is inspired by the high cost of education, the availability of free high quality courses, and the opportunities to make a career through self-learning. </p>
    	<p>Coursefinity motivates and inspires people to learn, more importantly those who cannot afford to go to school.</p>
    	<p>A lot of people are not yet informed with this opportunity to learn online for free. Coursefinity promotes massive open online courses, such as those offered by <a href="http://www.coursera.org">Coursera</a>,<a href="http://www.udacity.com">Udacity</a>, and <a href="http://www.edx.org">Edx</a>; and other online resources as a means to education.
    	<p><a href="https://twitter.com/hellodianne" class="twitter-follow-button" data-show-count="false">Follow @hellodianne</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> </p>
    </div>
</div>

{% endblock %}