{% extends "coursefinity/base.html" %}

{% load static %}

{% block body_block %}
<div class="container">
	<div class="jumbotron" style="margin-top:70px;">
		<p>Coursefinity provides structure on your learning! Each career has a mini syllabus that is enough to gain the necessary skills. Remember to create projects on the side and blog about your learning. Always be learning! </p>
	</div>
</div>
	<ul>
		{% if career_list %}
			{% for career in career_list %}
				<div class="careerbox">
					<li><a href="/coursetracks/{{career.url}}"> {{ career.name }}</a></li>
				</div>

			{% endfor %}
		{% else %}
			<li>No careers at present.</li>
		{% endif %}
	</ul>

{% endblock %}
