{% extends "coursefinity/base.html" %}

{% load static %}

{% block body_block %}

<div class="container">
	<div class="jumbotron" style="margin-top:70px;">
		<h2> {{program_name}} </h2>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-hover">
		<thead></thead>
		<tbody>
			{% if course_list %}
			{% for courses in course_list %}
			<tr><td>
			<a href="{{ courses.url }}"><strong>{{courses.title}}</strong></a>
			</td></tr>
		{% endfor %}
	{% else %}
		<td>No courses at present.</td>
	{% endif %}
</tbody>
</table>
</div>
{% endblock %}