{% extends 'coursefinity/base.html' %}

{% block body_block %} 

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">COURSEFINITY</h1>
        <p class="splash-subhead">
            your online library to learn and improve skills for free
        </p>
        <p>
            <a href="/coursefinity/coursetracks" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>
 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

   <div class="content-wrapper" style="background-color: #EEE6D9; margin-top: 30px;">
    <div class="container marketing">
       <div style="text-align:center;">
        <div style="margin:auto;">
          <h1>Features</h1>
        </div>
      </div>

      <!-- Three columns of text below the carousel -->
      <!-- /.row -->
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Get started, <span class="text-muted">Now is the time to learn!</span></h2>
          <p class="lead">Courses and tutorials are pre-selected and organized based on the online career that you want to learn.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="https://s3.amazonaws.com/coursefinity-assets/pic1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="https://s3.amazonaws.com/coursefinity-assets/pic2.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Develop skills, <span class="text-muted">Whether you want to be a web developer, web designer or a writer,</span></h2>
          <p class="lead">Coursefinity has the collection of specific resources you need.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Be Inspired <span class="text-muted">Know how other self-learners do it.</span></h2>
          <p class="lead">Read personal stories of success and learning <a href="/coursefinity/inspiration/">here</a>.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="https://s3.amazonaws.com/coursefinity-assets/pic3.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
  </div>

{% endblock%}

