{% extends "coursefinity/base.html" %}

{% load static %}

{% block body_block %}
<div class="container">
    <div class="jumbotron" style="margin-top:70px;">
        <p>These are collections of blog posts curated all over the web to provide inspiration on people who are interested in teaching themselves and gain the skills necessary to make it into career. The posts are mostly about learning to code and the success that comes after it. More articles on other field will be added soon!</p>
    </div>
</div>
<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
            <th>Inspirational links</th>
        </tr>
    </thead>


	<tbody>
        
	       {% if article_list %}
	        {% for link in article_list %}
    	   <tr><td>
    		  <a href="{{ link.url }}"><strong>{{ link.title }}</strong></a>
    	   </td></tr>
    	   {% endfor %}
            {% else %}
    	   <td>No article at present.</td>
            {% endif %}
    </tbody>
</table>
</div>
{% endblock %}